<div class="app-content">

  <mat-card *ngIf="needHelp">
    <mat-card-title>Help</mat-card-title>
    <mat-card-content>
      <br>
      <h3>About</h3>
      <p>This interface facilitates the additon of new fingerprint profiles of known individuals to the SHUAFIS system.</p>
      <br>
      <h3>Preconditions</h3>
      <ul>
        <li>Supplied files <b>must</b> be in .PNG, .JPEG, .BMP, .TIFF, or .WSQ format.</li>
        <li>Supplied files should be monocrome.</li>
        <li>To ensure accuracy, supplied files should be as clear as possible, and if need be, digitally enhanced for clarity.</li>
        <li>For uniformity, dates provided should adhere to the MM/DD/YYYY format.</li>
        <li>If a demographic field is unknown, it may be left blank for SHUAFIS to assign the field as "default".</li>
      </ul>
      <br>
      <h3>Missing Digits</h3>
      <ul>
        <li>If a subject is missing a digit, the supplied file for that digit will be of the index finger from the hand on which the missing digit is found.</li>
        <li>If an index finger is missing, the supplied file will be that of the thumb of the hand on which the the missing index finger is found.</li>
        <li>If a whole hand is missing, the supplied files for each digit of the missing hand will be that of the index finger of the remaining hand, 
          or the thumb if the index is missing.</li>
      </ul>
      <br>
      <h3>Uploading A Profile</h3>
      <ol>
        <li>Select tencard images saved to your computer using the interface below.</li>
        <li>Input demographic infomation for the subject individual, if known.</li>
        <li>Click upload. A dialouge should appear with a status confirmation.</li>
      </ol>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title style="margin-bottom: 15px;">Upload Profile</mat-card-title>
    <div class="flex-container" fxLayout="row" fxLayoutAlign="end">
      <button type="button" mat-raised-button (click)="toggleHelp()">Help</button>
    </div>
    <br>
    <mat-card-content>
      <mat-card>
        <mat-card-title>Prints</mat-card-title>
        <mat-card-content>
          
          <br>
    
          <div gdGap style="padding: 20px;">
            <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayout.s="column">
              
              <mat-card>
                <mat-card-title>Left Little Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="leftLittleURL" *ngIf="leftLittleURL">
                  </div>
                  <input hidden (change)="selectLeftLittleFile($event)" #leftLittleInput type="file" id="leftLittleInput">
                  <div *ngIf="leftLittleURL" id="leftLittleName">{{leftLittleCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="leftLittleInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
        
              <mat-card>
                <mat-card-title>Left Ring Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="leftRingURL" *ngIf="leftRingURL">
                  </div>
                  <input hidden (change)="selectLeftRingFile($event)" #leftRingInput type="file" id="leftLittleInput">
                  <div *ngIf="leftRingURL" id="leftRingName">{{leftRingCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="leftRingInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
              <mat-card>
                <mat-card-title>Left Middle Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="leftMiddleURL" *ngIf="leftMiddleURL">
                  </div>
                  <input hidden (change)="selectLeftMiddleFile($event)" #leftMiddleInput type="file" id="leftLittleInput">
                  <div *ngIf="leftMiddleURL" id="leftMiddleName">{{leftMiddleCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="leftMiddleInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
              <mat-card>
                <mat-card-title>Left Index Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="leftIndexURL" *ngIf="leftIndexURL">
                  </div>
                  <input hidden (change)="selectLeftIndexFile($event)" #leftIndexInput type="file" id="leftIndexInput">
                  <div *ngIf="leftIndexURL" id="leftIndexName">{{leftIndexCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="leftIndexInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
              <mat-card>
                <mat-card-title>Left Thumb</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="leftThumbURL" *ngIf="leftThumbURL">
                  </div>
                  <input hidden (change)="selectLeftThumbFile($event)" #leftThumbInput type="file" id="leftThumbInput">
                  <div *ngIf="leftThumbURL" id="leftThumbName">{{leftThumbCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="leftThumbInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
            </div>
    
            <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayout.s="column">
              
              <mat-card>
                <mat-card-title>Right Little Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="rightLittleURL" *ngIf="rightLittleURL">
                  </div>
                  <input hidden (change)="selectRightLittleFile($event)" #rightLittleInput type="file" id="rightLittleInput">
                  <div *ngIf="rightLittleURL" id="rightLittleName">{{rightLittleCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="rightLittleInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
        
              <mat-card>
                <mat-card-title>Right Ring Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="rightRingURL" *ngIf="rightRingURL">
                  </div>
                  <input hidden (change)="selectRightRingFile($event)" #rightRingInput type="file" id="rightLittleInput">
                  <div *ngIf="rightRingURL" id="rightRingName">{{rightRingCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="rightRingInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
              <mat-card>
                <mat-card-title>Right Middle Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="rightMiddleURL" *ngIf="rightMiddleURL">
                  </div>
                  <input hidden (change)="selectRightMiddleFile($event)" #rightMiddleInput type="file" id="rightLittleInput">
                  <div *ngIf="rightMiddleURL" id="rightMiddleName">{{rightMiddleCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="rightMiddleInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
              <mat-card>
                <mat-card-title>Right Index Finger</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="rightIndexURL" *ngIf="rightIndexURL">
                  </div>
                  <input hidden (change)="selectRightIndexFile($event)" #rightIndexInput type="file" id="rightIndexInput">
                  <div *ngIf="rightIndexURL" id="rightIndexName">{{rightIndexCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="rightIndexInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
              <mat-card>
                <mat-card-title>Right Thumb</mat-card-title>
                <mat-card-content>
                  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <img [src]="rightThumbURL" *ngIf="rightThumbURL">
                  </div>
                  <input hidden (change)="selectRightThumbFile($event)" #rightThumbInput type="file" id="rightThumbInput">
                  <div *ngIf="rightThumbURL" id="rightThumbName">{{rightThumbCurrentFile.name}}</div>
                </mat-card-content>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="rightThumbInput.click()">Choose File</button>
                </mat-card-actions>
              </mat-card>
    
            </div>
    
          </div>
    
        </mat-card-content>
      </mat-card>

      <br>

      <mat-card>
        <mat-card-title>Identifying Demographics</mat-card-title>
        <mat-card-content>
          
          <br>

            <div class="form-container" fxLayout.xs="column" fxLayout.s="column">

              <form [formGroup]="formData" (ngSubmit) = "upload(formData.value)">
                <mat-form-field appearance="outline">
                  <input name="nameInput" formControlName="name" matInput placeholder="ex: &quot;John Edgar Hoover&quot;">
                  <mat-hint>Name</mat-hint>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>Date of Birth</mat-label>
                  <input name="dobInput" formControlName="dob" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                  <input name="ssidInput" formControlName="ssid" matInput placeholder="ex: &quot;### ## ####&quot;">
                  <mat-hint>Social Security Number</mat-hint>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                  <input name="phoneInput" formControlName="phone" matInput placeholder="ex: &quot;(202) 324-3000&quot;">
                  <mat-hint>Phone Number</mat-hint>
                  <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <input name="addressInput" formControlName="address" matInput placeholder="ex: &quot;935 Pennsylvania Ave NW&quot;">
                  <mat-hint>Street Address</mat-hint>
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <input name="cityInput" formControlName="city" matInput placeholder="ex: &quot;Washington&quot;">
                  <mat-hint>City</mat-hint>
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <input name="stateInput" formControlName="state" matInput placeholder="ex: &quot;District of Columbia&quot;">
                  <mat-hint>State/Territory</mat-hint>
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <input name="zipInput" formControlName="zip" matInput placeholder="ex: &quot;20535&quot;">
                  <mat-hint>ZIP Code</mat-hint>
                </mat-form-field>
              </form>

          </div>

          <br>

        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="btn btn-success" (click)="upload(formData.value)"
      [disabled]="shouldBeDisabled()">
        Upload
      </button>
    </mat-card-actions>
  </mat-card>
  
</div>