<mat-sidenav-container fullscreen>

	<mat-sidenav #exampleSidenav class="example-sidenav mat-elevation-z3" [mode]="isMobile ? 'over' : 'side'">

    <mat-toolbar>
      Control Panel
      <span fxFlex></span>
      <button mat-icon-button (click)="exampleSidenav.close()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </mat-toolbar>

		<mat-nav-list style="z-index: 2">
			<a mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="exampleSidenav.close()">Home</a>
			<a mat-list-item routerLink="/about" routerLinkActive="active-link" (click)="exampleSidenav.close()">About</a>
			<!-- <a mat-list-item (click)="toggleGuides()">
			<p matLine>Guides</p>
				<mat-icon [class.isToggled]="hideGuides" class="toggle-component-icon" [class.isUnToggled]="!hideGuides">keyboard_arrow_down</mat-icon>
			</a> -->
    </mat-nav-list>
    
  </mat-sidenav>
  
	<mat-toolbar color="primary" class="mat-elevation-z3">
    <button mat-icon-button (click)="exampleSidenav.toggle()"><mat-icon>menu</mat-icon></button> 
    
    <img src="https://www.setonhill.edu/favicon/favicon-32x32.png" alt="" style="margin-right: 7px;">
      SHUAFIS
		<span fxFlex></span>
  </mat-toolbar>
  
	<div class="app-content">

    <mat-card>
      <mat-card-title>Dashboard</mat-card-title>
      <mat-card-content>
        
        <div gdGap style="padding: 20px;">
          <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayout.s="column">
          
            <mat-card class="child-1" style="padding-bottom: 30px;">
              <h4>Total Indexed Profiles:</h4>
              <br>
              <p style="font-size: 48pt;">12345</p>
            </mat-card>
  
            <mat-card class="child-2" style="padding-bottom: 30px;">
              <h4>Total Queries:</h4>
              <br>
              <p style="font-size: 48pt;">12345</p>
            </mat-card>
  
            <mat-card class="child-3" style="padding-bottom: 30px;">
              <h4>Total Ident Queries:</h4>
              <br>
              <p style="font-size: 48pt;">12345</p>
            </mat-card>

            <mat-card class="child-4" style="padding-bottom: 30px;">
              <h4>Total Indexed Cases:</h4>
              <br>
              <p style="font-size: 48pt;">12345</p>
            </mat-card>
  
            <mat-card class="child-5" style="padding-bottom: 30px;">
              <h4>Queries Today:</h4>
              <br>
              <p style="font-size: 48pt;">12345</p>
            </mat-card>
  
            <mat-card class="child-6" style="padding-bottom: 30px;">
              <h4>Ident Queries Today:</h4>
              <br>
              <p style="font-size: 48pt;">12345</p>
            </mat-card>
  
          </div>
  
          
        </div>

      </mat-card-content>

    </mat-card>

    <br>

    <mat-card>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-content>

        <div class="flex-container" fxLayout="row" fxLayoutAlign="left">
          <img width="300px" height="300px" src="https://www.setonhill.edu/favicon/apple-touch-icon-180x180.png">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum modi quos maiores fuga autem ut, quam accusamus qui necessitatibus aliquid suscipit labore ea rerum animi tempore architecto repudiandae. Esse, sunt?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa maxime pariatur nostrum? Iusto maiores numquam minima aliquid dolorum quibusdam sit nobis ex magni repudiandae, in perspiciatis possimus omnis aut?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit voluptates cumque, consectetur pariatur nostrum adipisci nesciunt vero, aspernatur quos sit sed nobis. Error earum facere veniam et accusantium eaque praesentium.
          </p>
        </div>

      </mat-card-content>
    </mat-card>

    <router-outlet></router-outlet>
    
  </div>
  
</mat-sidenav-container>
