<div class="app-content">

  <mat-card *ngIf="needHelp">
    <mat-card-title>Help</mat-card-title>
    <mat-card-content>
      <br>
      <h2>About</h2>
      <p>Using this interface, an investigator can leverage the underlying SHUAFIS algorithm to compare two provided samples for similarity. 
        Similarity is scored using a 40-threshold ident system, wherein a score of 40 represents a 0.01% chance of the provided prints <b>not</b> being a match.
        A score above 40 can be considered ident, statistically speaking.
      </p>
      <br>
      <h2>Preconditions</h2>
      <ul>
        <li>Supplied files <b>must</b> be in .PNG, .JPEG, .BMP, .TIFF, or .WSQ format.</li>
        <li>Supplied files should be monocrome.</li>
        <li>To ensure accuracy, supplied files should be as clear as possible, and if need be, digitally enhanced for clarity.</li>
      </ul>
      <br>
      <h2>Querying An Unknown Print</h2>
      <ol>
        <li>Select a fingerprint image saved to your computer using the interface below.</li>
        <li>Click upload.</li>
        <li>Review the generated reults report below the interface.</li>
      </ol>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Comparison Query</mat-card-title>
    <div class="flex-container" fxLayout="row" fxLayoutAlign="end">
      <button type="button" mat-raised-button (click)="toggleHelp()">Help</button>
    </div>
    <mat-card-content>
      
      <br>

      <div gdGap style="padding: 20px;">
        <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayout.s="column">
          <mat-card>
            <mat-card-title>Unknown Print Image File</mat-card-title>
            <mat-card-content>
              <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                <img [src]="file1URL" *ngIf="file1URL">
              </div>
              <input hidden (change)="selectFile1($event)" #file1Input type="file" id="file1">
              <div *ngIf="file1URL" id="file1Name">{{currentFile1.name}}</div>
            </mat-card-content>
            <mat-card-actions>
              <button type="button" mat-raised-button (click)="file1Input.click()">Choose File</button>
            </mat-card-actions>
          </mat-card>
    
          <mat-card>
            <mat-card-title>Known Print Image File</mat-card-title>
            <mat-card-content>
              <div class="flex-container" fxLayout="row" fxLayoutAlign="space-evenly center">
                <img [src]="file2URL" *ngIf="file2URL">
              </div>
              <input hidden (change)="selectFile2($event)" #file2Input type="file" id="file2">
              <div *ngIf="file2URL" id="file2Name">{{currentFile2.name}}</div>
            </mat-card-content>
            <mat-card-actions>
              <button type="button" mat-raised-button (click)="file2Input.click()">Choose File</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button class="btn btn-success" [disabled]="!file1FileList && !file2FileList" (click)="upload()">
        Upload
      </button>
    </mat-card-actions>

  </mat-card>

  <br>

  <mat-card *ngIf="response">
    <mat-card-title>Results</mat-card-title>
    <mat-card-content>
      <h1 style="color: red;" *ngIf="thing"> Comparison is within ident threshold.</h1>
      <h1 style="color: green;" *ngIf="!thing"> Comparison is NOT within ident threshold.</h1>
      <br>
      <p>The comparison analysis scored: {{responseJSONObj.score}}</p>
      <br>
      <p>The comparison took {{responseJSONObj.time}}ms to complete.</p>
    </mat-card-content>
  </mat-card>

</div>